@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@100&family=Poppins:wght@100;400&display=swap");

$orange: #FF6B01;
$ligthOrange: #FF9345;
// Neutro
$white: #fff;
$black: #000000;
$ligthWhite: #f5f6f8;

$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;
$brush: "Comforter Brush", cursive;
